!!!
%html
  %head
    %title
      = yield(:title) || "Sticky Memory - a first letter memorizaion tool"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = include_stylesheets :common, :workspace, :media => 'all' 
    /[if lt IE 8]
      = stylesheet_link_tag "blueprint/ie.css", :media => "screen, projection"
    = include_javascripts :workspace 
    = csrf_meta_tag
    = yield(:head)

  %body
    #container
      #content.span-24.last
        - if flash.present?
          .span-22.prepend-1.append-1.last.append-bottom.notifications
            - flash.each do |name, msg|
              = content_tag :div, msg, :id => "flash_#{name}"
        = yield
    .clear
    #footer
      #footer-content
            
